body {
  font-family: Arial;
}

h2 {
  color: #b2b2b2;
}
div.card {
  background-color: black;
  margin: 20px;
  padding: 30px;
  border-radius: 4px;
}
a {
  background-color: #febe01;
  padding: 10px;
  text-decoration: none;
  color: black;
  border-radius: 4px;
}
span {
  color: #febe01;
}

#title {
  text-align: center;
  margin: 60px;
}
#name {
  color: white;
}
